<!--
    https://htmx.org/
-->

<!DOCTYPE html>
<html>

<head>
    <title>Rock Paper Scissor</title>
</head>

<body>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <!-- have a button POST a click via AJAX -->
    <button hx-post="/clicked" hx-swap="outerHTML">
        Click Me
    </button>

    <input type="text" name="q"
    hx-get="/trigger_delay"
    hx-trigger="keyup changed delay:500ms"
    hx-target="#search-results"
    placeholder="Search...">
    <div id="search-results">        
    </div>

    
</body>

</html>

